

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    flex-direction:column;
    display: flex;
    min-height: 100vh;
    
    
}
header {
    background-color: blue;
}

main {
    background-color: rgb(43, 208, 226);
    text-align: center;
    flex: 1 0 auto;
}

h3, p {
    background-color: rgb(43, 208, 226);
}

#reasons {
    background-color: cornflowerblue;
} 


footer {
    background-color: coral;
    text-align: center;
    padding: 1em;
    
    

}

section {
    display: flex;
    
    
    
}