@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body */

body {
    flex-direction: column;
    display: flex;
    min-height: 100vh;
    font-family: "Oswald", sans-serif;
    width: 100%;
    



}

/* Header */

#title {
    font-size: 1.6rem;
    margin-left: 5px;
}


header {
    position: fixed;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: baseline;
    box-shadow: 0 1px 1px;
    justify-content: space-between;
    align-items: center;




}

header a {
    text-decoration: none;



}

h1 {
    color: rgba(57, 56, 56, 0.997);
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;





}

nav {
    position: absolute;
    display: none;
    top: 100%;
    background-color: white;
    width: 100%;
    padding-right: 6px;
    line-height: 25px;



}

#nav:checked~nav {
    display: block;
}

#nav {
    display: none;

}

.navclass {
    font-size: 1.6rem;
    padding-left: 30px;
    padding-right: 10px;
}

.home {
    text-align: end;
    margin-right: 3px;
    display: grid;
    list-style-type: none;
}


img {
    height: 40vh;
    width: 100%;
}

/* Main content */

main {
    background-color: white;
    flex: 1 0 auto;
    width: 100%;

    text-align: center;
    font-size: 1.2rem;




}

/* Footer */



footer ul {
    text-align: center;
    display: flex;
    font-size: rem;
    justify-content: space-evenly;
    padding: 4px;
    list-style-type: none;
}


footer ul li a {
    font-size: 2rem;
}


/* Home page */


#about {
    font-size: 20px;
    padding: 1rem;
    margin-top: 1rem;



}

.info {
    font-size: 15px;
    text-align: center;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 2px;
    width: 100%;
    line-height: 2rem;
    color: #000000;
}

.info em {
    color: #1a0b94;
}


/* Inspiration page */

div h3 {
    text-align:center
    
    
}




#better {
    font-size: 15px;
    list-style-type: none;
    
    
    
}


.mood {
    font-size: 15px;
    width: fit-content;
    line-height: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.confident {
    font-size: 15px;
    width: fit-content;
    line-height: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.health {
    font-size: 15px;
    width: fit-content;
    line-height: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.strong {
    font-size: 15px;
    width: fit-content;
    line-height: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

h3,
p {
    background-color: white;
    text-align: justify;
    width: auto;

}

#background {

    list-style-type: none;
    
    line-height: 60px;
}











/* Sign up page */

#become {
    font-size: 20px;
    color: rgba(57, 56, 56, 0.997);
    margin-left: 2px;
    margin-right: 2px;

}
/* Styling the sign up form */


input {
    display: flex;
    padding: 4px;
    border-radius: 1px;
    margin: auto;

    width: 80%;



}



.signup {
    font-size: 15px;
    color: rgba(57, 56, 56, 0.997);





}

.submit {
    background-color: white;
    margin-top:2rem;
}

.button {
    width: 80px;
    height: 30px;
    border-radius: 1px;
    font-size: 15px;
    margin-top: 1rem;
    font-weight: bold;
    padding-left: 10px;


}

#question {
    height: 90px;
    width: 80%;
    margin-top: 1rem;
}


/* For smaller to medium screen sizes from 768px width and up */

@media screen and (min-width: 768px) {

    /* Header title */

    #title {
        font-size: 2.3rem;
        margin-left: 5px;


    }
    
    .active {
        border-bottom: 2px solid rgba(128, 0, 128, 0.862);
    }

    /* Header page buttons */

    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-left: 280px;




    }

    img {
        height: 40vh
    }


    .home {
        display: flex;
        font-size: 1.2rem;

    }




    .home a {
        letter-spacing: 1px;
        display: flex;
        font-size: 1.2rem;
        margin-right: 10px;
    }

    .navclass {
        display: none;
    }

    /* Footer */

    footer ul li a {
        font-size: 2rem;
    }

    footer ul li {
        font-size: 1rem;
    }

    /* Main div section */



    /* Home page */







    #about {
        padding: 2rem;
        font-size: 20px;
    }

    .info {
        font-size: 18px;
        width: fit-content;
        line-height: 60px;
        margin-left: 3px;
        margin-right: 5px;
        padding: 1rem;
        font-size: 1.2rem;
        color: #6f6161;
        text-align: center;
    }

    .info em {
        color: black;
    }





    .info em {
        color: #1a0b94;
    }




    /* Inspiration page */

    div h3 {
        text-align:center
        
        
    }
 
     .mood {
         
         width: 70%;
         line-height: 20px;
         margin: auto;
         padding: 1.5rem;
         font-size: 1.3rem;
         color: #6f6161;
         text-align: center;
     }
 
 
     .confident {
         
         width: 80%;
         line-height: 20px;
         margin: auto;
         padding: 1.5rem;
         font-size: 1.3rem;
         color: #6f6161;
         text-align: center;
     }
 
 
     .health {
         
         width: 80%;
         line-height: 20px;
         margin: auto;
         padding: 1.5rem;
         font-size: 1.3rem;
         color: #6f6161;
         text-align: center;
 
     }
 
     .strong {
         
         width: 80%;
         line-height: 20px;
         margin: auto;
         padding: 1.5rem;
         font-size: 1.3rem;
         color: #6f6161;
         text-align: center;
     }
 







    


    /* Sign up page */

    .submit {
        margin-top: 3rem;
        line-height: 3rem;
        background-color: white;


    }

    .signup {
        line-height: 20px;
    }

    input {
        width: 300px;
    }

    #become {
        font-size: 22px;
        margin-bottom: 3rem;
        line-height: 4rem;
    }

    #label {

        font-size: 18px;
        line-height: 30px;

    }

    .button {
        width: 6rem;
        height: 2rem;

    }

    #question {
        height: 90px;
        width: 400px;




    }



}
/* For medium screen sizes from 992px width and up */

@media screen and (min-width: 992px) {


    /* Header */


    #title {
        font-size: 3rem;
        margin-left: 10px;


    }

    .home {
        display: flex;
        font-size: 1.5rem;
    }

    .home a {
        font-size: 1.6rem;
        margin-right: 40px;
    }

    .home a:hover {
        text-decoration: underline;
    }

    /* Background image */


    img {
        height: 60vh;
        object-fit: cover;
        margin-top: -1.4rem;
    }

    /* Main content */


    section{
        display:flex;
    }


    .mood {
        font-size: 20px;
        width: fit-content;
        line-height: 25px;
        margin-left: 3px;
        margin-right: 5px;
        margin: auto;
        padding: 1rem;
        color: #6f6161;
        text-align: center;


    }

    .confident {
        font-size: 20px;
        width: fit-content;
        line-height: 20px;
        margin-left: 3px;
        margin-right: 5px;
        margin: auto;
        padding: 1rem;
        color: #6f6161;
        text-align: center;


    }


    .health {
        font-size: 20px;
        width: fit-content;
        line-height: 20px;
        margin-left: 3px;
        margin-right: 5px;
        margin: auto;
        padding: 1rem;
        color: #6f6161;
        text-align: center;

    }

    .strong {
        font-size: 20px;
        width: fit-content;
        line-height: 20px;
        margin-left: 3px;
        margin-right: 5px;
        margin: auto;
        padding: 1rem;
        color: #6f6161;
        text-align: center;

    }


    /* Footer content */

    footer ul a {
        padding: 2px 2px 0;
        font-size: 3.5rem;
    }

    /* Inspiration page */

    #about {
        font-size: 22px;

    }

    .info {
        font-size: 20px;
        width: 100%;
    }




    /* Sign up page */

    .submit {
        margin-top: 5rem;
    }



}
/* For medium to larger screen sizes from 1200px width and up */

@media screen and (min-width: 1200px) {

    /* Home page */

    #about {
        font-size: 26px;
        line-height: 1rem;


    }

    .info {
        font-size: 24px;

        color: #313131e3;
        line-height: 3rem;
        padding-left: rem;
        padding-right: 10rem;

    }

    



    .info em {
        color: #1a0b94;
    }



   


/* Inspiration page */


section {
     display:flex;
     margin:auto;
     margin-left:8rem;
     margin-top:3rem;
     font-size:26px;
     line-height:5rem;
}


.mood {
    font-size: 24px;
    width: 50%;
    line-height: 25px;
    
    margin: auto;
    padding: 1rem;
    color: #6f6161;
    text-align: center;


}

.confident {
    font-size: 24px;
    width: 50%;
    line-height: 20px;
    padding-left:2rem;
    margin: auto;
    padding: 1rem;
    color: #6f6161;
    text-align: center;


}


.health {
    font-size: 24px;
    width: 50%;
    line-height: 20px;
    margin-left: px;
    margin-right: px;
    margin: auto;
    
    color: #6f6161;
    text-align: center;

}

.strong {
    font-size: 24px;
    width: 50%;
    line-height: 20px;
    margin-left: 3px;
    margin-right: 5px;
    margin: auto;
    padding: 1rem;
    color: #6f6161;
    

}











    /* Sign up page */


    #become {
        font-size: 26px;
        line-height: 45px;
        margin-bottom: 0;

    }

    #label {
        font-size: 24px;
        line-height: 35px;

    }
}